*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    width: 100%;
    background-color: white;
}

p, h5{
    line-height: 20px;
    margin-top: 20px;
}

header{
    background-color: #0084FD;   
}

.flexwrapperrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.mediumfont{
    font-size: 25px;
}

.margins{
    margin-bottom: 30px;
}

.rightbox>i{
    color: white    ;
}

.leftbox, .rightbox{
    margin: 0 70px;
}

/* Main blocco con riquadri */

.container{
    padding: 30px;
    width: 100%;
}

.textbox{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-size: 15px;
}

.imgbox{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imgbox>.tonda{
    height: 200px;
    width: 200px;
}

#cinquantapercento{
    width: 50%;
}

.imgbox>img{
    display: block;
    width: 100%;
}

.bigcolumn, .column{
    background-color: #B5DDFF;
    border-radius: 21px 21px 21px 21px;
    margin: 20px;
}

h2, .bluecolor{
    color: #0084FD  ;
}

#blue-btn{
    background-color: #0084FD;
    color: white;
    padding: 15px 20px;
    cursor: pointer; 
    border: none; 
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    font-weight: bold;
}

.tonda{
    margin: 20px;
    border-radius: 50%;
}

/* Blocco 2 */

/* Immagine e testo */

.violet{
    background-color: #9792E4;
}

.white{
    color: white;
}

h3{
    margin: 20px 0 20px;
}

.noflex{
    display: block;
}

/* Immagine e testo con bordo */

.img-textcontainer2{
    border-radius: 44px 44px 44px 44px;
    margin-bottom: 20px;
}

.bwhite{
    background-color: white;
}

.center{
    text-align: center;
}

.center>span {
    background-color: #9792E4;
    border-radius: 50%;
    padding: 5px 10px; 
    height: 50px;
    width: 50px;
    align-self: center;
}

/* Blocco 3 */

.violetext{
    color: #9792E4;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.violet-btn{
    color: white;
    background-color: #9792E4;
    padding: 15px 20px;
    cursor: pointer; 
    border: none; 
    border-radius: 50px 50px 50px 50px;
    width: 200px;
}

.roundb{
    border-radius: 23px 23px 23px 23px;
    margin-bottom: 30px;
}

.container>span:first-child{
    color: lightgray;
}

#bigyellow{
    font-size: 60px;
    color: #FCC060;
    font-weight: bold;
    margin: 50px 0;
}

.lastbtn{
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    padding: 15px 20px;
    cursor: pointer; 
    border: none; 
    margin: 10px 0;
}

.underline{
    text-decoration: underline;
}

/* Footer */

.black{
    background-color: #333333;
    font-size: 25px;
}

footer p>span{
    font-size: 16px;
    color: #9792E4;
}

.bigfont{
    font-size: 40px;
}

/* Media Query Tablet*/

@media screen and (min-width: 840px) {

    .wrap{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .flex{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bigcolumn{
        width: calc(50% - 10px);
    }

    .column{
        width: calc(30% - 10px);
        margin-top: 20px;
    }

    .container>.column:first-child, .bigcolumn {
        width: calc(62% - 10px);
    }

    .container>.column:not(:first-child) {
        width: calc(29.333% - 10px);

}

/* Immagine e Testo 2° blocco fixes */

.flexcolumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    


/* Riquadri viola */
                        /* Blocco "About us" */
.img-textcontainer2, .row {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
} 

.img-textcontainer2 .imgbox {
    flex-basis: 20%; 
    justify-content: flex-start;
}

.img-textcontainer2 .textbox {
    flex-basis: 75%; 
    max-width: 75%; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

/* 6 roundb wrap */

.roundb{
    width: calc(50% - 50px);
    margin-right: 15px;
}

}

@media screen and (min-width: 1160px) {
    .flexwrapperrow, .wrap, .maxwidth, .aboutuswidth {
        max-width: 70%; 
        margin: 0 auto;
    }

    .background>.container {
        max-width: 70%;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 20px;
    }

    .img-textcontainer {
        margin-right: 20px;
    }

    .height {
        height: 50%;
    }

    /* Impostazioni per .roundb */
    .wrap .roundb {
        width: calc(33.333% - 30px); 
        margin: 15px; 
    }

    .wrap {
        flex-wrap: wrap; 
    }

    .aboutuswidth{
        max-width: 60%;
    }
    
}














